.Jobs-Con {
  background-color: #121212;
  min-height: 100vh;
  width: 100%;
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  /* justify-content: space-evenly; */
  /* flex-direction: column; */
}

.LeftSide {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.RightSide {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.JobCardList {
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
  align-self: flex-start;
}
.SearchBar1 {
  align-self: center;
  margin: 0px;
  display: none;
}

.SearchBar {
  border: 1px solid #202020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 20px;
  width: 70%;
}
@media screen and (max-width: 768px) {
  .Jobs-Con {
    flex-direction: column;
    background-color: #121212;
    align-items: center;
    justify-content: center;
  }
  .SearchBar {
    align-self: center;
    margin: 0px;
    display: none;
  }
  .SearchBar1 {
    border: 1px solid #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    align-self: center;
    margin-top: 20px;
    margin-left: 20px;
    width: 90%;
  }
  .RightSide {
    width: 90%;
  }
  .LeftSide {
    width: 90%;
  }
}
.SearchBtn {
  background-color: #202020;
  border: none;
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.SearchIn {
  background: none;
  border: none;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  outline: none;
  color: #ffffff;
}
.SearchIcon {
  font-size: 20px;
  color: #ffffff;
}
.FilterContain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  justify-content: flex-start;
  width: 80%;
}
.Failure {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ParagraphFail {
  font-size: 35px;
}
.ParagraphFail2 {
  margin-top: -5px;
  font-size: 20px;
}
